---
import '../styles/global.css';
import '@fontsource/geist-sans';
import Themes from 'astro-themes';
import Navbar from '../components/astro/Navbar.astro';
import Footer from '../components/astro/Footer.astro';
import Seo from '../components/astro/Seo.astro';
import FaviconMetaData from '../components/astro/FaviconMetaData.astro';
import { ViewTransitions } from 'astro:transitions';


const { title, description, style} = Astro.props;
---


<html lang="es">

  <head lang="es">
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <Seo title={title} description={description} ogImage={' '} />
    <FaviconMetaData />
    <ViewTransitions />
    <Themes defaultTheme='dark' />
  </head>
  <body class='bg-gray-50 text-black dark:text-white ' style={style}>
    <div class='flex flex-col justify-center px-8'>
      <Navbar class="naiden" />
    </div>
    <main id="skip">
      
      <div class="w-100 h-100 flex justify-center">
          <link rel="stylesheet" href="https://use.typekit.net/sce4jji.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
          <div class=" flex mb-4 justify-center bg-customColor " >
    
              <div class="flex  flex-col ">
                  
                 <div class="flex justify-center items-center mb-10 flex-1">
                     
                     <slot />
                     
                 </div> 
    
              </div>
              
          </div>
    
      </div>
      
    </main>

    <Footer />

  </body>
</html>

<style>

</style>

<style>
    .naiden{
        background: inherit;
    }
</style>